@{
    ViewData["Title"] = "Carro";
}
 <style>
        #carro {
            background-color: gray;
            height: 40vh;
            max-width: 30vw;
            border-radius: 5px;
            margin: auto;
            text-align: center; 
        }
        #tabela {
            background-color: green;
            margin: auto;
        }
    </style>
  <div id="carro">
        <table id="tabela">
            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Descrição</th>
                    <th>Ano</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Civic</td>
                    <td>Civic Turbo</td>
                    <td>2023</td>
                </tr>
                <tr>
                    <td>Corolla</td>
                    <td>Xls</td>
                    <td>2021</td>
                </tr>
                <tr>
                    <td>Honda Fit</td>
                    <td>Honda 3.0</td>
                    <td>2021</td>
                </tr>
            </tbody>
        </table>
    </div>